@charset "utf-8";
			
/* ==============================
 * component
 * ============================== */

/* 제목 */
[class*='titleH']{margin:1.75em 0 0.8em;}
.titleH3{font-weight:300;font-size:21px;}
.titleH4{font-weight:100;font-size:16px;}

/* 버튼 */
.button{position:relative;display:inline-block;border:1px solid #e1e1e1;color:#111;background:#fff;text-align:center;vertical-align:middle;box-sizing:border-box;cursor:pointer;border-radius:0px;-webkit-appearance:none;padding:0 20px;line-height:38px;font-size:12px;white-space:nowrap;font-weight:400;}

.button[class*=btnIcon],
.button.inIcon [class*=btnIcon]{font-size:0;color:transparent;padding:0;width:40px;background-repeat:no-repeat;background-position:center center;background-size:contain;}
.button.inIcon{padding-left:50px;padding-right:10px;}
.button.inIcon [class*=btnIcon]{position:absolute;left:-1px;top:0;height:100%;display:block;border-right:1px solid #e1e1e1;}
.btnIconShare{background-image:url(../images/btn/btnIconShare.png);}
.btnIconMap{background-image:url(../images/btn/btnIconMap.png);}
.btnIconTel{background-image:url(../images/btn/btnIconTel.png);}
.btnIconFax{background-image:url(../images/btn/btnIconFax.png);}

.btnMore{display:block;position:relative;width:120px;height:30px;padding-left:30px;border:1px solid #d7d7d7;font-size:8px;color:#111;letter-spacing:2px;text-transform:uppercase;line-height:30px;transition:all .3s ease;}
.btnMore:after{content:'';display:block;position:absolute;top:50%;right:0;width:5px;height:2px;margin-top:-1px;margin-right:15px;background:#111;}
.btnMore:hover{color:#fff;background:#111;}
.btnMore:hover:after{background:#fff;}
.btnMore.white{border:1px solid rgba(255,255,255,0.3);color:#fff;}
.btnMore.white:after{background:#fff;}
.btnMore.white:hover{color:#111;background:#fff;}
.btnMore.white:hover:after{background:#111;}

/* 탭메뉴 */
.tabmenu{background:#f0f0f0;text-align:center;font-size:0;overflow-x:auto;overflow-y:hidden;border-bottom:1px solid #d8d8d8;}
.tabmenu ul{white-space:nowrap;}
.tabmenu li{display:inline-block;vertical-align:top;}
.tabmenu li:first-child{padding-left:20px;}
.tabmenu li:last-child{padding-right:20px;}
.tabmenu li a{position:relative;display:block;padding:16px 15px;color:#000;font-size:15px;color:#d0d0d0;font-weight:450;}
.tabmenu li a:before{content:'';display:inline-block;width:3px;height:3px;background:#d0d0d0;border-radius:50%;margin-right:9px;vertical-align:middle;}
.tabmenu li a:after{content:'';display:block;position:absolute;left:0;bottom:-1px;width:100%;}
.tabmenu li a span{font-weight:200;}
.tabmenu li.on a{color:#000;}
.tabmenu li.on a:before,
.tabmenu li.on a:after{background:#000;height:3px;}
.tabmenu.tbl{padding:0 20px;}
.tabmenu.tbl ul{display:table;width:100%;table-layout:fixed}
.tabmenu.tbl ul li{display:table-cell;width:50%;padding:0;}

/*table*/
.table {border-top:2px solid #000;border-bottom:1px solid #ccc;word-break:break-all;}
.table th, .table td{border-bottom:1px solid #ececec;text-align:center;padding:13px 10px;}
.table th{color:#666;background:#f6f6f6;}
.table thead th{font-size:16px;font-weight:normal;}
.table tbody th{font-size:16px;font-weight:normal;}
.table tfoot th,
.table tfoot td {border-top:1px solid #ccc;background:#f1f1f1;}
.table .tl{text-align:left;}
.table .tr{text-align:right;}

.table.line th,
.table.line td{border-right:1px solid #ececec;}
.table.line th:last-child,
.table.line td:last-child{border-right:0px;}

.dotList > li{position:relative;padding-left:10px;}
.dotList > li:before{content:'';display:block;width:2px;height:2px;position:absolute;left:0;top:0.65em;background:#111111;border-radius:50%;}
.dotList > li + li{margin-top:10px;}