@charset "utf-8";
@import url('component.css');
@import url('main.css');
			
/* ==============================
 * contents
 * ============================== */

/* about */
.hr{margin:0;border:0 none;border-top:1px solid #eaeaea;}
.innerBox .hr{margin-left:-20px;margin-right:-20px;}
.subVisual{position:relative;text-align:center;background:#dedede;margin:-1px -20px 0;}
.subVisual img{width:100%;}
.subVisual + .subTop{margin-top:-20px;padding-top:0;}
.subTop{position:relative;text-align:center;/*padding-top:25px;*/padding-top:25px;overflow:hidden;}
.subTop .tit1{font-size:27px;font-weight:300;font-family:'Nixgon M';font-weight:normal;}
.subTop .txt1{font-size:18px;font-weight:100;margin-top:25px;}
.subTop .line{width:1px;height:40px;margin:15px auto;background:#111;}
.subTop .tit2{font-size:21px;font-weight:100;}
.subTop .txt2{font-size:16px;margin-top:10px;}
.subTop + .hr{margin-top:28px;}
.subTop.type2{margin-left:-20px;margin-right:-20px;padding-bottom:170px;background-repeat:no-repeat;background-position:center bottom;background-size:cover;} 
.subTop.type2.bg1{background-image:url(../images/contents/02/business_top_bg.png);}
.subTop.type2.bg2{background-image:url(../images/contents/02/business_top_bg2.png);}
.subTop[class*=bgCoror]{margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}
.subTop.bgCoror1{background:#f2f2f2;padding-bottom:35px;}

.vision{text-align:center;margin-top:25px;padding-bottom:37px;}
.vision .txt{color:#3d644a;font-weight:200;}
.vision .img{text-align:center;margin:27px 0;}
.vision .img img{width:150px;}
.worthTxt{text-align:center;font-size:16px;font-weight:200;margin-top:35px;}
.worthTxt img{width:150px;}
.worthTxt .tit{font-size:21px;font-weight:100;}
.worthTxt ul li{margin-top:35px;}
.worthTxt .txt{margin-top:22px;}

.histotyTit{position:relative;font-size:16px;font-weight:450;padding-left:15px;margin:20px 0;}
.histotyTit:before{content:'';display:block;height:12px;width:1px;position:absolute;left:5px;top:7px;background:#35b5b1;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.histotyList{padding-left:15px;font-size:16px;}
.histotyList > li{position:relative;padding-left:50px;}
.histotyList > li + li{margin-top:18px;}
.histotyList .month{position:absolute;left:0;top:2px;color:#bababa;font-size:14px;}
.histotyList .month:after{content:'.';}
.histotyList + .hr{margin-top:30px;}

.ceoTxt .tit{font-size:21px;font-weight:100;}
.ceoTxt .tit:before{content:'';display:block;width:29px;height:3px;margin-bottom:15px;background:#000;}
.ceoTxt .imgBox{margin-top:40px;margin-bottom:40px;}
.ceoTxt .imgBox:first-child{margin-top:0;}
.ceoTxt .text{font-size:16px;font-weight:300;margin-top:1.5em;}

.memberList > ul > li{border:1px solid #dde6e6;padding:30px;}
.memberList > ul > li + li{margin-top:40px;}
.memberList .eng{font-weight:450;opacity:0.7;margin-bottom:18px;}
.memberList .name{font-weight:300;font-size:21px;}
.memberList .level{font-weight:300;font-size:18px;opacity:0.7;margin-left:10px;}
.memberList .dotList{margin-top:21px;}
.memberList .type2{background:#edf1f1;}
.memberList .type2 .level{display:block;margin-left:0;margin-top:10px;}

.onestop{margin:45px 0 40px;text-align:center;}
.onestop > dt{padding:14px 5px;font-size:14px;color:#33b6ae;border:1px solid #c1e9e7;font-weight:bold;border-radius:25px;letter-spacing:1px;}
.onestop > dd{margin-top:17px;}
.onestop > dd img{width:100%;}

.imglist{margin-top:40px;}
.imglist img{width:100%;}
.imglist > li + li{margin-top:40px;}
.imglist .tit{font-size:21px;font-weight:300;margin-top:20px;}
.imglist .sub{font-size:16px;font-weight:300;margin-top:8px;}
.imglist .txt{font-size:16px;font-weight:300;color:#767676;margin-top:3px;}
.imglist .btnMore{margin-top:27px;}

.ptnImg{position:relative;padding:60px 0;margin-bottom:40px;}
.ptnImg .img{position:relative;}
.ptnImg .img:before,
.ptnImg .img:after{content:'';display:block;position:absolute;top:0;bottom:0;left:0;right:0;background-repeat:no-repeat;background-size:100% 100%;}
.ptnImg .img:before{background-image:url(../images/contents/01/ptn_bg1.png);-webkit-animation:ratateBg 30s linear infinite;animation:ratateBg 30s linear infinite;}
.ptnImg .img:after{background-image:url(../images/contents/01/ptn_bg2.png);-webkit-animation:ratateBg2 30s linear infinite;animation:ratateBg2 30s linear infinite;}
.ptnImg .img img{width:100%;position:relative;z-index:1;}
.ptnImg ul li{font-size:16px;font-weight:200;position:absolute;width:30%;text-align:center;}
.ptnImg ul li:nth-child(1){left:0px;top:0;}
.ptnImg ul li:nth-child(2){right:0px;top:0;}
.ptnImg ul li:nth-child(3){left:0px;bottom:0;}
.ptnImg ul li:nth-child(4){right:0px;bottom:0;}
@-webkit-keyframes ratateBg{
    to{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes ratateBg{
    to{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@-webkit-keyframes ratateBg2{
    to{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);}
}
@keyframes ratateBg2{
    to{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);}
}
.ptnList img{width:128px;max-width:100px;}
.ptnList > ul{border:1px solid #ebebeb;border-width:1px 0 0 1px;}
.ptnList > ul > li{float:left;width:50%;border:1px solid #ebebeb;border-width:0 1px 1px 0;padding:30px 10px 21px;text-align:center;font-size:14px;}
.ptnList > ul > li p{margin-top:15px;height:38px;}

.contact{margin-top:35px;}
.contactTit{overflow:hidden;}
.contactTit > h3{float:left;font-size:21px;font-weight:100;line-height:40px;}
.contactTit > div{float:right;}
.contactText{margin:1em 0;}
.contactBtn{overflow:hidden;}
.contactBtn a{width:49.5%;float:left;}
.contactBtn a + a{margin-left:1%;}
.contactMap{margin:15px -20px 0;}
.contactMap iframe{width:100%;}
.contactInfo{margin-top:25px;}
.contactInfo dl{min-height:75px;padding-left:100px;padding-top:3px;background-repeat:no-repeat;background-position:0 0;background-size:75px auto;}
.contactInfo dl.ic1{background-image:url(../images/contents/01/contactInfo-icon1.png);}
.contactInfo dl.ic2{background-image:url(../images/contents/01/contactInfo-icon2.png);}
.contactInfo dl.ic3{background-image:url(../images/contents/01/contactInfo-icon3.png);}
.contactInfo dl + dl{margin-top:40px;}
.contactInfo dt{padding-bottom:3px;margin-bottom:3px;font-weight:450px;border-bottom:1px solid #000;}
.contactInfo dd + dt{margin-top:15px;}

/* Business */
.businessImg1{text-align:center;font-size:16px;}
.businessImg1 img{width:100%;}
.businessList{margin-top:40px;}
.businessList > li{position:relative;padding-top:20px;min-height:198px;}
.businessList > li:nth-child(even){text-align:right;}
.businessList > li + li{margin-top:30px;}
.businessList dl:before{content:'';display:inline-block;width:29px;height:3px;vertical-align:top;background:#000000;}
.businessList dt{position:relative;font-size:21px;font-family:'Nixgon M';padding-bottom:15px;line-height:1.2;z-index:1;}
.businessList dd{position:relative;font-size:16px;padding-top:15px;}
.businessList img{position:absolute;top:0;right:0;border:0 none;width:198px;}
.businessList .img{position:static;height:1px;background:#000;padding:0;}
.businessList > li:nth-child(even) img{left:0;right:auto;}
.neesImg{text-align:center;margin-top:40px;}
.neesImg img{max-width:100%;width:320px;}
.neesImg .txt{font-size:30px;font-weight:100;padding:14px 0;}
.planImg{text-align:center;margin-top:40px;}
.planImg dt{position:relative;}
.planImg dt img{width:100%;}
.planImg dd img{width:100%;}
.planImg dd ul{margin:-2px -7px;}
.planImg dd ul li{float:left;width:33.33%;padding:0 7px;}
.planImg dd ul li p{font-size:16px;margin:18px -7px 0;}
.identityList{text-align:center;margin-top:45px;}
.identityList li + li{margin-top:35px;}
.identityList .img{position:relative;}
.identityList .img:after{content:'';display:block;width:1px;height:50px;position:absolute;left:50%;margin-left:-0.5px;bottom:-25px;background:#000;}
.identityList img{width:270px;max-width:100%;}
.identityList p{font-size:21px;font-weight:100;margin:40px 0 13px;}
.skincare{margin:0 -20px;text-align:center;}
.skincare > li{padding:40px 20px;}
.skincare > li+li{border-top:1px solid #e5e5e5;}
.skincare .ic img{width:135px;}
.skincare dl{margin-top:15px;}
.skincare dt{font-size:21px;font-weight:300;margin-bottom:15px;}
.skincare dd{font-size:16px;font-weight:200;}
.skincare .dotList{font-size:200;text-align:left;margin-top:27px;}

.globalTxt{text-align:center;}
.globalTxt .tit{font-size:21px;font-weight:100;}
.globalTxt .imgBox{margin-top:23px;margin-bottom:23px;}
.globalTxt .imgBox:first-child{margin-top:0;}
.globalTxt .text{font-size:16px;margin-top:1.5em;}

.rndLink{position:relative;margin-bottom:-80px;}
.rndLink .imgBox{display:block;position:relative;}
.rndLink .center{position:absolute;left:50%;top:50%;width:98px;height:98px;padding:26px 0;margin:-49px 0 0 -49px;background:url(../images/contents/03/rndLink_img3.png) no-repeat center center;background-size:contain;z-index:1;font-size:0;color:transparent;}
.rndLink .center p{letter-spacing:2px;}
.rndLink .center p:first-child{letter-spacing:5px}
.rndLink .center2{position:absolute;left:0%;top:50%;width:100%;font-size:12px;color:#fff;text-align:center;font-weight:450px;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.rndLink .center2 .tit{font-size:40px;font-weight:100;letter-spacing:0.15em}

.rndTxt{margin-top:10px;}
.rndTxt .tit{position:relative;font-weight:100;color:#3a8c55;font-size:30px;margin-bottom:-2.9em;z-index:1;}
.rndTxt .tit strong{font-weight:450;}
.rndTxt .text{position:relative;font-size:16px;margin-top:-2em;font-weight:200;}
.rndTxt .text:before{content:'';display:block;height:2px;width:21px;background:#000;margin-bottom:1em;}

.rndList{margin-top:2em;}
.rndList img{width:100%;}
.rndList > li{position:relative;padding-top:21px;}
.rndList > li + li{margin-top:72px;}
.rndList > li i{display:block;position:absolute;left:21px;top:0;width:42px;line-height:42px;text-align:center;color:#fff;font-size:16px;font-weight:450;background:#3d644a;}
.rndList > li:nth-child(even) i{left:auto;right:21px;}
.rndList > li:nth-child(2) i{background-color:#999999;}
.rndList > li:nth-child(3) i{background-color:#2f3e56;}
.rndList .tit{display:block;font-weight:450;font-size:22px;margin-top:1em;}
.rndList .txt{font-weight:200;margin-top:1em;font-size:16px;}

.platformTxt{font-size:16px;font-weight:200;}
.platformTxt img{width:100%;}
.platformTxt .top{padding:33px 0;text-align:center;}
.platformTxt .top .title{font-size:30px;}
.platformTxt .top .text{font-size:21px;font-weight:100;margin-top:5px;}
.platformTxt .imgBox{margin-bottom:40px;}
.platformTxt .img{margin-bottom:27px;}
.platformTxt .dotList{margin-top:1em;}
.platformTxt .hr{margin-top:37px;margin-bottom:37px;}
.platformTxt .tit{font-size:20px;font-weight:300;margin-top:37px;}
.platformTxt .link{margin-top:18px;}
.platformTxt .text{font-size:16px;}
.platformTxt .img2{width:135px;margin:15px auto;}
.platformTxt .img3{margin:40px auto 0;width:320px;}
.platformTxt .img3 + .arr{margin-top:-35px;margin-bottom:20px;}
.platformTxt .arr{position:relative;width:40px;height:144px;margin:20px auto 0;background:url(../images/contents/03/platform_arr.png) no-repeat;background-size:contain;}
.platformTxt .box{border:15px solid #f5f5f5;border-radius:1000px;margin-top:-15px;padding:0 10px 35px;}
.platformTxt .box .img2{margin-top:33px;}

.pipelineImg{padding-top:40px;}
.pipelineImg .img + .img{margin-top:10px;}
.pipelineImg .img:first-child + .img{margin-top:15px;}

.pipeline{padding-top:35px;font-size:16px;}
.pipelineTop{text-align:center;padding-bottom:40px;}
.pipelineTop .title{font-size:21px;}
.pipelineTop .sub{font-size:16px;margin-top:5px;}
.pipelineTop .sub span{display:inline-block;padding:1em 0;border-bottom:1px solid #000;min-width:200px;}
.pipelineTop .sub + .sub{color:#3b8b56;text-transform:uppercase;margin-top:10px;letter-spacing:2px;}
.pipelineTop .icon{margin-top:28px;}
.pipelineTop .icon li{display:inline-block;width:75px;margin:0 8px;}
.pipelineTop .icon p{margin-top:15px;font-size:16px;}
.pipeline .hr{margin:35px -20px;}
.pipeline .tit{font-weight:300;font-size:21px;}
.pipeline .box{width:340px;max-width:100%;margin:30px auto 0;padding:5px;height:340px;border:12px solid #f0f0f0;text-align:center;border-radius:50%;}
.pipeline .box .icon{margin:34px auto 28px;display:block;width:60px;height:55px;background:url(../images/contents/03/pipeline_icon1.png) no-repeat;background-size:contain;}
.pipeline .box p{margin-bottom:14px;}
.pipeline .box div{font-size:14px;}
.pipeline .boxList{text-align:center;border:1px solid #e8e8e8;border-radius:3px;}
.pipeline .boxList li{padding:28px 10px;}
.pipeline .boxList li + li{border-top:1px solid #e8e8e8;}
.pipeline .boxList .img img{width:auto;height:29px;}
.pipeline .boxList .txt{margin-top:15px;font-weight:300;}
.pipeline .boxList2{text-align:center;margin-top:20px;}
.pipeline .boxList2 img{width:99px;}
.pipeline .boxList2 li{float:left;width:48%;height:200px;padding-top:19px;border:1px solid #eaeee0;border-radius:3px;}
.pipeline .boxList2 li + li{margin-left:4%;}
.pipeline .boxList2 .txt{margin-top:5px;font-weight:300;}
.pipeline .boxList2 .txt span{display:block;font-size:14px;}
.pipeline .box2{border:1px solid #f5f5f5;padding:25px 13px;margin:17px 0;}
.pipeline .sLogo{padding:0 7px;}
.pipeline .sLogo img{max-width:100%;}

.dotList.country>li{margin-top:0.3em;color:#999;overflow:hidden;}
.dotList.country>li:before{background:#999;}
.dotList.country>li span{float:left;}
.dotList.country>li div{margin-left:2.5em;}
.dotList.country>li div img{width:18px;}

.irInfo{padding:40px 0;}
.irInfo .sub{display:inline-block;padding:5px 0;vertical-align:top;font-size:12px;font-weight:bold;border-top:1px solid #000;letter-spacing:3px}
.irInfo .title{font-size:21px;font-weight:300;margin-top:15px;line-height:1.2;}
.irInfo .text{color:#767676;font-size:16px;font-weight:300;margin-top:10px;}
.irInfo .date{font-size:14px;font-weight:450;color:#767676;margin-top:13px;}

.iframeView{margin-top:40px;border:1px solid #ebebeb;}

.newsSlider{margin:40px -20px 40px 0;overflow:hidden;padding-right:20px;}
.newsSlider .img{margin-bottom:10px;}
.newsSlider .slick-list{overflow:visible;}
.newsSlider .slick-slide{padding-right:20px;}
.newsSlider .slick-dots{text-align:center;font-size:0;margin-top:30px;color:transparent;}
.newsSlider .slick-dots li{display:inline-block;margin:0 4px;}
.newsSlider .slick-dots li button{display:inline-block;width:9px;height:9px;background:#fff;border:1px solid #ebebeb;vertical-align:top;border-radius:50%;-webkit-transition:0.5s;transition:0.5s;}
.newsSlider .slick-dots li.slick-active button{border-color:#35b5b1;background:#35b5b1;}

/* 이용약관  */
.siteInfomationBox{padding-bottom:80px;}
.siteInfomationBox h2{padding:75px 0;border-bottom:1px solid #e5e5e5;font-size:50px;color:#111;text-align:center;font-weight:100;line-height:1;}
.siteInfomationBox h3{margin-top:35px;font-size:21px;color:#111;font-weight:400;}
.siteInfomationBox h4{margin-top:15px;font-size:18px;color:#35b6b2;font-weight:400;}
.siteInfomationBox p{margin-top:10px;line-height:1.75;font-size:16px;color:#111;font-weight:300;}
.siteInfomationBox p.pl{padding-left:1.2em;text-indent:-1.2em;}
.siteInfomationBox p.pl2{padding-left:1.5em;text-indent:-1.5em;}
.siteInfomationBox p.mt{margin-top:30px;}
.siteInfomationBox p.color{color:#3d644a;font-weight:450;}
.siteInfomationBox strong{font-weight:400;}